//* Generate dynamic height classes
.hvw {
    height: max-content;
}

.hvw1 {
    height: 1%;
}

.hvw2 {
    height: 2%;
}

.hvw3 {
    height: 3%;
}

.hvw4 {
    height: 4%;
}

.hvw5 {
    height: 5%;
}

.hvw6 {
    height: 6%;
}

.hvw7 {
    height: 7%;
}

.hvw8 {
    height: 8%;
}

.hvw9 {
    height: 9%;
}

.hvw10 {
    height: 10%;
}

.hvw11 {
    height: 11%;
}

.hvw12 {
    height: 12%;
}

.hvw13 {
    height: 13%;
}

.hvw14 {
    height: 14%;
}

.hvw15 {
    height: 15%;
}

.hvw16 {
    height: 16%;
}

.hvw17 {
    height: 17%;
}

.hvw18 {
    height: 18%;
}

.hvw19 {
    height: 19%;
}

.hvw20 {
    height: 20%;
}

.hvw21 {
    height: 21%;
}

.hvw22 {
    height: 22%;
}

.hvw23 {
    height: 23%;
}

.hvw24 {
    height: 24%;
}

.hvw25 {
    height: 25%;
}

.hvw26 {
    height: 26%;
}

.hvw27 {
    height: 27%;
}

.hvw28 {
    height: 28%;
}

.hvw29 {
    height: 29%;
}

.hvw30 {
    height: 30%;
}

.hvw31 {
    height: 31%;
}

.hvw32 {
    height: 32%;
}

.hvw33 {
    height: 33%;
}

.hvw34 {
    height: 34%;
}

.hvw35 {
    height: 35%;
}

.hvw36 {
    height: 36%;
}

.hvw37 {
    height: 37%;
}

.hvw38 {
    height: 38%;
}

.hvw39 {
    height: 39%;
}

.hvw40 {
    height: 40%;
}

.hvw41 {
    height: 41%;
}

.hvw42 {
    height: 42%;
}

.hvw43 {
    height: 43%;
}

.hvw44 {
    height: 44%;
}

.hvw45 {
    height: 45%;
}

.hvw46 {
    height: 46%;
}

.hvw47 {
    height: 47%;
}

.hvw48 {
    height: 48%;
}

.hvw49 {
    height: 49%;
}

.hvw50 {
    height: 50%;
}

.hvw51 {
    height: 51%;
}

.hvw52 {
    height: 52%;
}

.hvw53 {
    height: 53%;
}

.hvw54 {
    height: 54%;
}

.hvw55 {
    height: 55%;
}

.hvw56 {
    height: 56%;
}

.hvw57 {
    height: 57%;
}

.hvw58 {
    height: 58%;
}

.hvw59 {
    height: 59%;
}

.hvw60 {
    height: 60%;
}

.hvw61 {
    height: 61%;
}

.hvw62 {
    height: 62%;
}

.hvw63 {
    height: 63%;
}

.hvw64 {
    height: 64%;
}

.hvw65 {
    height: 65%;
}

.hvw66 {
    height: 66%;
}

.hvw67 {
    height: 67%;
}

.hvw68 {
    height: 68%;
}

.hvw69 {
    height: 69%;
}

.hvw70 {
    height: 70%;
}

.hvw71 {
    height: 71%;
}

.hvw72 {
    height: 72%;
}

.hvw73 {
    height: 73%;
}

.hvw74 {
    height: 74%;
}

.hvw75 {
    height: 75%;
}

.hvw76 {
    height: 76%;
}

.hvw77 {
    height: 77%;
}

.hvw78 {
    height: 78%;
}

.hvw79 {
    height: 79%;
}

.hvw80 {
    height: 80%;
}

.hvw81 {
    height: 81%;
}

.hvw82 {
    height: 82%;
}

.hvw83 {
    height: 83%;
}

.hvw84 {
    height: 84%;
}

.hvw85 {
    height: 85%;
}

.hvw86 {
    height: 86%;
}

.hvw87 {
    height: 87%;
}

.hvw88 {
    height: 88%;
}

.hvw89 {
    height: 89%;
}

.hvw90 {
    height: 90%;
}

.hvw91 {
    height: 91%;
}

.hvw92 {
    height: 92%;
}

.hvw93 {
    height: 93%;
}

.hvw94 {
    height: 94%;
}

.hvw95 {
    height: 95%;
}

.hvw96 {
    height: 96%;
}

.hvw97 {
    height: 97%;
}

.hvw98 {
    height: 98%;
}

.hvw99 {
    height: 99%;
}

.hvw100 {
    height: 100%;
}

.height1 {
    min-height: 10vh;
}

.height2 {
    min-height: 20vh;
}

.height3 {
    min-height: 30vh;
}

.height4 {
    min-height: 40vh;
}

.height5 {
    min-height: 50vh;
}

.height6 {
    min-height: 60vh;
}

.height7 {
    min-height: 70vh;
}

.height8 {
    min-height: 80vh;
}

.height9 {
    min-height: 90vh;
}

.height10 {
    min-height: 100vh;
}

.height11 {
    min-height: 110vh;
}

.height12 {
    min-height: 120vh;
}

