//* Generate dynamic width mesurement classes 
.wdth {
    width: max-content;
}

.wdth1 {
    width: 1%;
}

.wdth2 {
    width: 2%;
}

.wdth3 {
    width: 3%;
}

.wdth4 {
    width: 4%;
}

.wdth5 {
    width: 5%;
}

.wdth6 {
    width: 6%;
}

.wdth7 {
    width: 7%;
}

.wdth8 {
    width: 8%;
}

.wdth9 {
    width: 9%;
}

.wdth10 {
    width: 10%;
}

.wdth11 {
    width: 11%;
}

.wdth12 {
    width: 12%;
}

.wdth13 {
    width: 13%;
}

.wdth14 {
    width: 14%;
}

.wdth15 {
    width: 15%;
}

.wdth16 {
    width: 16%;
}

.wdth17 {
    width: 17%;
}

.wdth18 {
    width: 18%;
}

.wdth19 {
    width: 19%;
}

.wdth20 {
    width: 20%;
}

.wdth21 {
    width: 21%;
}

.wdth22 {
    width: 22%;
}

.wdth23 {
    width: 23%;
}

.wdth24 {
    width: 24%;
}

.wdth25 {
    width: 25%;
}

.wdth26 {
    width: 26%;
}

.wdth27 {
    width: 27%;
}

.wdth28 {
    width: 28%;
}

.wdth29 {
    width: 29%;
}

.wdth30 {
    width: 30%;
}

.wdth31 {
    width: 31%;
}

.wdth32 {
    width: 32%;
}

.wdth33 {
    width: 33%;
}

.wdth34 {
    width: 34%;
}

.wdth35 {
    width: 35%;
}

.wdth36 {
    width: 36%;
}

.wdth37 {
    width: 37%;
}

.wdth38 {
    width: 38%;
}

.wdth39 {
    width: 39%;
}

.wdth40 {
    width: 40%;
}

.wdth41 {
    width: 41%;
}

.wdth42 {
    width: 42%;
}

.wdth43 {
    width: 43%;
}

.wdth44 {
    width: 44%;
}

.wdth45 {
    width: 45%;
}

.wdth46 {
    width: 46%;
}

.wdth47 {
    width: 47%;
}

.wdth48 {
    width: 48%;
}

.wdth49 {
    width: 49%;
}

.wdth50 {
    width: 50%;
}

.wdth51 {
    width: 51%;
}

.wdth52 {
    width: 52%;
}

.wdth53 {
    width: 53%;
}

.wdth54 {
    width: 54%;
}

.wdth55 {
    width: 55%;
}

.wdth56 {
    width: 56%;
}

.wdth57 {
    width: 57%;
}

.wdth58 {
    width: 58%;
}

.wdth59 {
    width: 59%;
}

.wdth60 {
    width: 60%;
}

.wdth61 {
    width: 61%;
}

.wdth62 {
    width: 62%;
}

.wdth63 {
    width: 63%;
}

.wdth64 {
    width: 64%;
}

.wdth65 {
    width: 65%;
}

.wdth66 {
    width: 66%;
}

.wdth67 {
    width: 67%;
}

.wdth68 {
    width: 68%;
}

.wdth69 {
    width: 69%;
}

.wdth70 {
    width: 70%;
}

.wdth71 {
    width: 71%;
}

.wdth72 {
    width: 72%;
}

.wdth73 {
    width: 73%;
}

.wdth74 {
    width: 74%;
}

.wdth75 {
    width: 75%;
}

.wdth76 {
    width: 76%;
}

.wdth77 {
    width: 77%;
}

.wdth78 {
    width: 78%;
}

.wdth79 {
    width: 79%;
}

.wdth80 {
    width: 80%;
}

.wdth81 {
    width: 81%;
}

.wdth82 {
    width: 82%;
}

.wdth83 {
    width: 83%;
}

.wdth84 {
    width: 84%;
}

.wdth85 {
    width: 85%;
}

.wdth86 {
    width: 86%;
}

.wdth87 {
    width: 87%;
}

.wdth88 {
    width: 88%;
}

.wdth89 {
    width: 89%;
}

.wdth90 {
    width: 90%;
}

.wdth91 {
    width: 91%;
}

.wdth92 {
    width: 92%;
}

.wdth93 {
    width: 93%;
}

.wdth94 {
    width: 94%;
}

.wdth95 {
    width: 95%;
}

.wdth96 {
    width: 96%;
}

.wdth97 {
    width: 97%;
}

.wdth98 {
    width: 98%;
}

.wdth99 {
    width: 99%;
}

.wdth100 {
    width: 100%;
}

.wdth-max {
    width: max-content;
}

.wdth-min {
    width: min-content;
}


